/* Write your CSS here */
.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #93c5fd;
  height: 100vh;
  font-family: 'Roboto';
}

.capital-container {
  background-color: #f8fafc;
  border-radius: 16px;
  width: 96%;
  padding: 20px;
  max-width: 345px;
}

.head1 {
  color: #1e293b;
  font-size: 25px;
  font-family: 500;
}

.box-container {
  display: flex;
  align-items: center;
}

.opt {
  background-color: #f8fafc;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  height: 40px;
  border: 1px solid #cbd2d9;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  outline: none;
}

.option {
  color: #323f4b;
  font-size: 13px;
  font-weight: 500;
}

.para1 {
  color:  #000000;
  font-size: 13px;
  margin-left: 8px;
}

.para2 {
  color:  #1e293b;
  font-size: 16px;
  font-weight: 500;
}




@media screen and (min-width: 768px) {
  .capital-container {
    padding-top: 45px;
    padding-left: 65px;
    padding-right: 65px;
    max-width: 520px;
  }

  .head1 {
    text-align: left;
    font-size: 32px;
  }

  .opt {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    width: 180px;
    font-size: 16px;
  }

  .option {
    font-size: 15px;
  }

  .para1 {
    font-size: 16px;
  }

  .para2 {
    font-size: 25px;
  }

}
